{% extends 'base.html' %}

{% block content %}

<h1>Weather</h1>
    <!-- <img class="weather_icon" src="{{ weather_image_url }}" alt="icon for {{ weather_description }}"></img>
<h2>{{ get_date(date).strftime('%A, %B %d') }}</h2>
<p>{{ weather_description }}</p> -->
<ul>
    {% for item in data['daily'] %}
    <img class="weather_icon" src="http://openweathermap.org/img/wn/{{ item['weather'][0]['icon'] }}@2x.png" alt="icon for {{ item['weather'][0]['description'] }}"></img>

    <div>
        <p>{{ get_date(item['dt']).strftime('%m/%d') }}</p>
        
    </div>
    <hr>
{% endfor %}
</ul>

{% endblock %}