{% extends 'base.html' %}

{% block content %}
<h1>Historical Weather</h1>
{% for day in data %}

<subtitle>{{ get_date(day['current']['dt']).strftime('%A, %B %d') }}</subtitle>
<div class="scrollmenu">
    {% for hour in day['hourly'] %}
    <span style="display:inline-block; vertical-align:middle">
        <span style="display:inline;">
                <p>{{ get_date(hour['dt']).strftime('%-I%p') }}</p>
        </span>
        <img src="http://openweathermap.org/img/wn/{{ hour['weather'][0]['icon'] }}@2x.png" alt="icon for {{ hour['weather'][0]['description'] }}"></img>
        <p>{{ round(hour['temp']) }}°</p>
    </span>
    {% endfor %}
</div>
{% endfor %}

{% endblock %}