{% extends 'current.html' %}

{% block content %}

<h1>{{ get_date(data['current']['dt']).strftime('%A, %B %d') }}</h1>
<ul>
    {% for item in data['hourly'] %}

        <img class="weather_icon" src="http://openweathermap.org/img/wn/{{ item['weather'][0]['icon'] }}@2x.png" alt="icon for {{ item['weather'][0]['description'] }}"></img>
        <div>
            <p>{{ get_date(item['dt']).strftime('%I%p') }} {{ item['weather'][0]['description'] }} </p>
        
            
            <hr>
        </div>

    {% endfor %}
</ul>


{% endblock %}