{% extends 'base.html' %}

{% block content %}

<container>
    <div class="description">
        <h2>{{ city }}</h2>
        <p>{{ data['current']['weather'][0]['description'] }}</p>


    <h1 class="weather_box">{{ round(data['current']['temp']) }}°</h1>
    <p class="hi_lo">H:{{ round(data['daily'][0]['temp']['max']) }}° L:{{ round(data['daily'][0]['temp']['min']) }}°</p>
</div>
</container>
<hr>

<div class="scrollmenu">
    {% for i, hour in enumerate(data['hourly']) %}
    <span style="display:inline-block; vertical-align:middle;">
        {% if i == 0 %}
            <p style="padding: 0px">Now</p>
        {% else %}
            <span>
                <p style="padding: 0px">{{ get_date(hour['dt']).strftime('%-I%p') }}</p>
            </span>
        {% endif %}
        <img style="padding: 0px" src="http://openweathermap.org/img/wn/{{ hour['weather'][0]['icon'] }}@2x.png" alt="icon for {{ hour['weather'][0]['description'] }}"></img>
        <p style="padding: 0px">{{ round(hour['temp']) }}°</p>
    </span>
    {% endfor %}
</div>
<hr>

{% for day in data['daily'][1:] %}
    <span>
        <container class="daily">
            <div class="center">
                <div style="width: 60px">
                    {{ get_date(day['dt']).strftime('%A') }}
                </div>
                    
                    <img src="http://openweathermap.org/img/wn/{{ day['weather'][0]['icon'] }}@2x.png" alt="icon for {{ day['weather'][0]['description'] }}"></img>
                <div>
                    {{ round(day['temp']['max']) }}&nbsp;&nbsp;&nbsp;{{ round(day['temp']['min']) }} 
                </div>
            </div>
        </container>
    </span>
{% endfor %}

<div class="grid-container">
    <div class="grid-item">
        <p class='label'>SUNRISE</p>
        <p class='value'>{{ get_date(data['current']['sunrise']).strftime('%-I:%M%p') }}</p>
    </div>
    <div class="grid-item">
        <p class='label'>SUNSET</p>
        <p class='value'>{{ get_date(data['current']['sunset']).strftime('%-I:%M%p') }}</p>
    </div>
    <div class="grid-item">
        <p class='label'>CHANCE OF RAIN</p>
        {% if 'rain' not in data['daily'][0].keys() %}
            <p class='value'>0%</p>
        {% else %}
            <p class='value'>{{ data['daily'][0]['rain'] }}</p>
        {% endif %}
    </div> 
    <div class="grid-item">
        <p class='label'>HUMIDITY</p>
        <p class='value'>{{ data['current']['humidity'] }}%</p>
    </div> 
    <div class="grid-item">
        <p class='label'>WIND</p>
        <p class='value'>{{ get_wind(data['current']['wind_deg']) }} {{ round(data['current']['wind_speed']) }} mph</p>
    </div>
    <div class="grid-item">
        <p class='label'>FEELS LIKE</p>
        <p class='value'>{{ round(data['current']['feels_like']) }}°</p>
    </div>
    <div class="grid-item">
        <p class='label'>PRECIPITATION</p>
        {% if 'rain' in data['current'].keys() %}
            <p class='value'>{{ round(data['current']['rain']) }} in</p>
        {% else %}
            <p class='value'>0 in</p>
        {% endif %}
    </div>
    <div class="grid-item">
        <p class='label'>PRESSURE</p>
        <p class='value'>{{ round(data['current']['pressure'] / 33.863886666667, 2) }} inHg</p>
    </div>
    <div class="grid-item">
        <p class='label'>VISIBILLITY</p>
        <p class='value'>{{ round(data['current']['visibility'] *  0.000621371) }} miles</p>
    </div>
    <div class="grid-item">
        <p class='label'>UV INDEX</p>
        <p class='value'>{{ round(data['current']['uvi']) }}</p>
    </div>
 
  </div>

{% endblock %}

